{% extends 'base.html.twig' %}

{% block title %}Edit AverageTemperature{% endblock %}

{% block body %}
    <h1>Edit AverageTemperature</h1>

    {{ include('temperature/average_temperature/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_average_temperature_index') }}">back to list</a>
{% endblock %}
