{% extends 'base.html.twig' %}

{% block title %}Edit Temperature{% endblock %}

{% block body %}
    <h1>Edit Temperature</h1>

    {{ include('temperature/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('temperature_index') }}">back to list</a>

    {{ include('temperature/_delete_form.html.twig') }}
{% endblock %}
